<h2 class="ranking-title">Ranking der Benutzer</h2>
<table class="ranking-table">
  <thead>
    <tr>
      <th>Platz</th>
      <th>Benutzername</th>
      <th>Strafen</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user, index) => { %>
      <% if (user._id === userId) { %> <!-- Der aktuelle Benutzer wird hervorgehoben -->
        <tr class="highlight-user">
          <td><%= index + 1 %></td>
          <td><%= user.username %></td>
          <td><%= user.penalties ? user.penalties.length : 0 %></td> <!-- Sicherstellen, dass penalties existieren -->
        </tr>
      <% } else { %> <!-- Alle anderen Benutzer werden abgeblendet -->
        <tr class="blurred">
          <td><%= index + 1 %></td>
          <td><%= user.username %></td>
          <td><%= user.penalties ? user.penalties.length : 0 %></td> <!-- Sicherstellen, dass penalties existieren -->
        </tr>
      <% } %>
    <% }); %>
  </tbody>
</table>
