<h2 class="ranking-title">Ranking der Benutzer</h2>
<table class="ranking-table">
  <thead>
    <tr>
      <th>Platz</th>
      <th>Benutzername</th>
      <th>Betrag</th> <!-- Betrag der Strafen -->
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user, index) => { %>
      <% if (user.id === userId) { %> <!-- Der aktuelle Benutzer wird hervorgehoben -->
        <tr class="highlight-user">
          <td><%= index + 1 %></td>
          <td><%= user.username %></td>
          <td><%= user.total_penalty_amount.toFixed(2) %> €</td>
        </tr>
      <% } else { %> <!-- Alle anderen Benutzer werden abgeblendet -->
        <tr class="blurred">
          <td><%= index + 1 %></td>
          <td><%= user.username %></td>
          <td>
  <%= user.total_penalty_amount && !isNaN(user.total_penalty_amount) ? user.total_penalty_amount.toFixed(2) : '0.00' %> €
</td>

        </tr>
      <% } %>
    <% }); %>
  </tbody>
</table>
